In [22]:
import pandas as pd

In [42]:
census_df = pd.read_csv('census.csv')
census_df.head()
counties_df = census_df[census_df['SUMLEV'] == 50]
counties_df

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861
5,50,3,6,1,9,Alabama,Blount County,57322,57322,57373,...,1.807375,-1.177622,-1.748766,-2.062535,-1.369970,1.859511,-0.848580,-1.402476,-1.577232,-0.884411
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3188,50,4,8,56,37,Wyoming,Sweetwater County,43806,43806,43593,...,1.072643,16.243199,-5.339774,-14.252889,-14.248864,1.255221,16.243199,-5.295460,-14.075283,-14.070195
3189,50,4,8,56,39,Wyoming,Teton County,21294,21294,21297,...,-1.589565,0.972695,19.525929,14.143021,-0.564849,0.654527,2.408578,21.160658,16.308671,1.520747
3190,50,4,8,56,41,Wyoming,Uinta County,21118,21118,21102,...,-17.755986,-4.916350,-6.902954,-14.215862,-12.127022,-18.136812,-5.536861,-7.521840,-14.740608,-12.606351
3191,50,4,8,56,43,Wyoming,Washakie County,8533,8533,8545,...,-11.637475,-0.827815,-2.013502,-17.781491,1.682288,-11.990126,-1.182592,-2.250385,-18.020168,1.441961
3192,50,4,8,56,45,Wyoming,Weston County,7208,7208,7181,...,-11.752361,-8.040059,12.372583,1.533635,6.935294,-12.032179,-8.040059,12.372583,1.533635,6.935294

In [24]:
sorted_Counties_df = counties_df.sort_values(by=['STNAME','CENSUS2010POP'],ascending=False)
sorted_Counties_df

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
3180,50,4,8,56,21,Wyoming,Laramie County,91738,91881,92271,...,-1.200428,15.547274,4.787847,-1.226133,0.278940,-0.973320,17.914554,6.003143,-0.207819,1.673640
3182,50,4,8,56,25,Wyoming,Natrona County,75450,75450,75472,...,7.189319,23.066162,24.322042,-0.958472,-0.061057,7.689674,23.749508,25.085233,-0.110593,0.793743
3172,50,4,8,56,5,Wyoming,Campbell County,46133,46133,46244,...,-2.843479,15.601020,-5.895711,-8.550911,10.916963,-2.649606,15.558684,-5.916543,-8.509402,10.978525
3188,50,4,8,56,37,Wyoming,Sweetwater County,43806,43806,43593,...,1.072643,16.243199,-5.339774,-14.252889,-14.248864,1.255221,16.243199,-5.295460,-14.075283,-14.070195
3176,50,4,8,56,13,Wyoming,Fremont County,40123,40123,40222,...,2.747083,7.782673,-4.990688,-12.331633,-13.673610,3.093562,8.027411,-4.747240,-12.013555,-13.352750
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19,50,3,6,1,37,Alabama,Coosa County,11539,11758,11758,...,-33.930581,-10.291443,-4.313831,-22.958017,-5.387581,-34.017138,-10.380162,-4.403703,-23.049483,-5.387581
43,50,3,6,1,85,Alabama,Lowndes County,11299,11299,11275,...,-13.575065,-28.401074,-11.493720,-16.071429,-7.804692,-13.485755,-28.310045,-11.401029,-15.883459,-7.614334
6,50,3,6,1,11,Alabama,Bullock County,10914,10915,10887,...,-30.953709,-5.180127,-1.130263,14.354290,-16.167247,-29.001673,-2.825524,1.507017,17.243790,-13.193961
53,50,3,6,1,105,Alabama,Perry County,10591,10581,10540,...,-4.275534,-30.449493,-13.879939,-11.386538,-16.096786,-3.895487,-30.256162,-13.582511,-11.185006,-15.891731
32,50,3,6,1,63,Alabama,Greene County,9045,9045,9001,...,-10.049690,-8.565793,-10.033635,-22.481024,-8.806952,-10.049690,-8.565793,-10.033635,-22.481024,-8.806952

In [25]:
columns_to_keep = ['STNAME',
                   'CTYNAME',
                   'CENSUS2010POP',
                   'SUMLEV']
dfTemp = sorted_Counties_df[columns_to_keep]
dfTemp

       STNAME            CTYNAME  CENSUS2010POP  SUMLEV
3180  Wyoming     Laramie County          91738      50
3182  Wyoming     Natrona County          75450      50
3172  Wyoming    Campbell County          46133      50
3188  Wyoming  Sweetwater County          43806      50
3176  Wyoming     Fremont County          40123      50
...       ...                ...            ...     ...
19    Alabama       Coosa County          11539      50
43    Alabama     Lowndes County          11299      50
6     Alabama     Bullock County          10914      50
53    Alabama       Perry County          10591      50
32    Alabama      Greene County           9045      50

[3142 rows x 4 columns]

In [26]:
dfTemp.head(3)

       STNAME          CTYNAME  CENSUS2010POP  SUMLEV
3180  Wyoming   Laramie County          91738      50
3182  Wyoming   Natrona County          75450      50
3172  Wyoming  Campbell County          46133      50

In [27]:
dfTemp['CENSUS2010POP'].nlargest(5)

209     9818605
624     5194675
2667    4092459
106     3817117
227     3095313
Name: CENSUS2010POP, dtype: int64

In [28]:
dfTemp.nlargest(5,'CENSUS2010POP')

          STNAME             CTYNAME  CENSUS2010POP  SUMLEV
209   California  Los Angeles County        9818605      50
624     Illinois         Cook County        5194675      50
2667       Texas       Harris County        4092459      50
106      Arizona     Maricopa County        3817117      50
227   California    San Diego County        3095313      50

In [29]:
dfTemp['CENSUS2010POP'].nsmallest(5)

2717     82
560      90
2701    286
2697    416
1684    460
Name: CENSUS2010POP, dtype: int64

In [30]:
dfTemp.nsmallest(5,'CENSUS2010POP')

        STNAME         CTYNAME  CENSUS2010POP  SUMLEV
2717     Texas   Loving County             82      50
560     Hawaii  Kalawao County             90      50
2701     Texas     King County            286      50
2697     Texas   Kenedy County            416      50
1684  Nebraska   Arthur County            460      50

In [31]:
dfGroupBy = dfTemp.groupby(['STNAME'])
dfGroupBy

In [32]:
dfGroupBy.get_group('Texas')

     STNAME          CTYNAME  CENSUS2010POP  SUMLEV
2667  Texas    Harris County        4092459      50
2623  Texas    Dallas County        2368139      50
2786  Texas   Tarrant County        1809034      50
2581  Texas     Bexar County        1714773      50
2793  Texas    Travis County        1024266      50
...     ...              ...            ...     ...
2722  Texas  McMullen County            707      50
2583  Texas    Borden County            641      50
2697  Texas    Kenedy County            416      50
2701  Texas      King County            286      50
2717  Texas    Loving County             82      50

[254 rows x 4 columns]

In [33]:
top_counties_TX_df = dfGroupBy.get_group('Texas').head(3)
top_counties_TX_df

     STNAME         CTYNAME  CENSUS2010POP  SUMLEV
2667  Texas   Harris County        4092459      50
2623  Texas   Dallas County        2368139      50
2786  Texas  Tarrant County        1809034      50

In [34]:
top_counties_TX_df.sum()

STNAME                                    TexasTexasTexas
CTYNAME          Harris CountyDallas CountyTarrant County
CENSUS2010POP                                     8269632
SUMLEV                                                150
dtype: object

In [35]:
dfGroupBy.head(3)

         STNAME                       CTYNAME  CENSUS2010POP  SUMLEV
3180    Wyoming                Laramie County          91738      50
3182    Wyoming                Natrona County          75450      50
3172    Wyoming               Campbell County          46133      50
3137  Wisconsin              Milwaukee County         947735      50
3109  Wisconsin                   Dane County         488073      50
...         ...                           ...            ...     ...
76       Alaska  Fairbanks North Star Borough          97581      50
85       Alaska     Matanuska-Susitna Borough          88995      50
37      Alabama              Jefferson County         658466      50
49      Alabama                 Mobile County         412992      50
45      Alabama                Madison County         334811      50

[151 rows x 4 columns]

In [36]:
top_counties_3 = dfGroupBy.head(3)
top_counties_3

         STNAME                       CTYNAME  CENSUS2010POP  SUMLEV
3180    Wyoming                Laramie County          91738      50
3182    Wyoming                Natrona County          75450      50
3172    Wyoming               Campbell County          46133      50
3137  Wisconsin              Milwaukee County         947735      50
3109  Wisconsin                   Dane County         488073      50
...         ...                           ...            ...     ...
76       Alaska  Fairbanks North Star Borough          97581      50
85       Alaska     Matanuska-Susitna Borough          88995      50
37      Alabama              Jefferson County         658466      50
49      Alabama                 Mobile County         412992      50
45      Alabama                Madison County         334811      50

[151 rows x 4 columns]

In [37]:
dfGroupBy3 = top_counties_3.groupby(['STNAME'])
dfGroupBy3

In [38]:
total_3 = dfGroupBy3.sum()
total_3

                      CENSUS2010POP  SUMLEV
STNAME
Alabama                     1406269     150
Alaska                       478402     150
Arizona                     5173150     150
Arkansas                     807152     150
California                 15924150     150
Colorado                    1794424     150
Connecticut                 2673320     150
Delaware                     897934     150
District of Columbia         601723      50
Florida                     5564635     150
Georgia                     2417795     150
Hawaii                      1293120     150
Idaho                        719782     150
Illinois                    6815061     150
Indiana                     1754727     150
Iowa                         807090     150
Kansas                      1220478     150
Kentucky                    1196619     150
Louisiana                   1216552     150
Maine                        632728     150
Maryland                    2640226     150
Massachusetts               3044796     150
Michigan                    3863924     150
Minnesota                   2059617     150
Mississippi                  593642     150
Missouri                    2033597     150
Montana                      348199     150
Nebraska                     961357     150
Nevada                      2427950     150
New Hampshire                842389     150
New Jersey                  2498943     150
New Mexico                  1015967     150
New York                    6321295     150
North Carolina              2309027     150
North Dakota                 297947     150
Ohio                        3245910     150
Oklahoma                    1577791     150
Oregon                      1641036     150
Pennsylvania                3549228     150
Rhode Island                 919804     150
South Carolina              1185938     150
South Dakota                 315244     150
Tennessee                   1986551     150
Texas                       8269632     150
Utah                        1852698     150
Vermont                      277721     150
Virginia                    1921722     150
Washington                  3439809     150
West Virginia                393551     150
Wisconsin                   1825699     150
Wyoming                      213321     150

In [39]:
total_3.loc['Arizona']

CENSUS2010POP    5173150
SUMLEV               150
Name: Arizona, dtype: int64

In [40]:
total_3.sort_values(by='CENSUS2010POP').head(3).index.tolist()

['Wyoming', 'Vermont', 'North Dakota']

In [64]:
counties_df = census_df[census_df['SUMLEV'] == 50]
counties_df = counties_df.set_index('CTYNAME')
counties_df
dfTemp = counties_df
dfTemp

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
CTYNAME,,,,,,,,,,,,,,,,,,,,,
Autauga County,50,3,6,1,1,Alabama,54571,54571,54660,55253,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
Baldwin County,50,3,6,1,3,Alabama,182265,182265,183193,186659,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
Barbour County,50,3,6,1,5,Alabama,27457,27457,27341,27226,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
Bibb County,50,3,6,1,7,Alabama,22915,22919,22861,22733,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861
Blount County,50,3,6,1,9,Alabama,57322,57322,57373,57711,...,1.807375,-1.177622,-1.748766,-2.062535,-1.369970,1.859511,-0.848580,-1.402476,-1.577232,-0.884411
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Sweetwater County,50,4,8,56,37,Wyoming,43806,43806,43593,44041,...,1.072643,16.243199,-5.339774,-14.252889,-14.248864,1.255221,16.243199,-5.295460,-14.075283,-14.070195
Teton County,50,4,8,56,39,Wyoming,21294,21294,21297,21482,...,-1.589565,0.972695,19.525929,14.143021,-0.564849,0.654527,2.408578,21.160658,16.308671,1.520747
Uinta County,50,4,8,56,41,Wyoming,21118,21118,21102,20912,...,-17.755986,-4.916350,-6.902954,-14.215862,-12.127022,-18.136812,-5.536861,-7.521840,-14.740608,-12.606351
Washakie County,50,4,8,56,43,Wyoming,8533,8533,8545,8469,...,-11.637475,-0.827815,-2.013502,-17.781491,1.682288,-11.990126,-1.182592,-2.250385,-18.020168,1.441961
Weston County,50,4,8,56,45,Wyoming,7208,7208,7181,7114,...,-11.752361,-8.040059,12.372583,1.533635,6.935294,-12.032179,-8.040059,12.372583,1.533635,6.935294

In [65]:
dfMax = dfTemp[['POPESTIMATE2010',
                               'POPESTIMATE2011',
                               'POPESTIMATE2012',
                               'POPESTIMATE2013',
                               'POPESTIMATE2014',
                               'POPESTIMATE2015']].max(axis=1)
dfMax

CTYNAME
Autauga County        55347
Baldwin County       203709
Barbour County        27341
Bibb County           22861
Blount County         57776
                      ...
Sweetwater County     45162
Teton County          23125
Uinta County          21102
Washakie County        8545
Weston County          7234
Length: 3142, dtype: int64

In [66]:
dfMin = dfTemp[['POPESTIMATE2010',
                               'POPESTIMATE2011',
                               'POPESTIMATE2012',
                               'POPESTIMATE2013',
                               'POPESTIMATE2014',
                               'POPESTIMATE2015']].min(axis=1)
dfMin

CTYNAME
Autauga County        54660
Baldwin County       183193
Barbour County        26489
Bibb County           22512
Blount County         57373
                      ...
Sweetwater County     43593
Teton County          21297
Uinta County          20822
Washakie County        8316
Weston County          7065
Length: 3142, dtype: int64

In [67]:
dfDelta = dfMax-dfMin
dfDelta

CTYNAME
Autauga County         687
Baldwin County       20516
Barbour County         852
Bibb County            349
Blount County          403
                     ...
Sweetwater County     1569
Teton County          1828
Uinta County           280
Washakie County        229
Weston County          169
Length: 3142, dtype: int64

In [68]:
dfDelta.sort_values(ascending = False).head(1).index.tolist()

['Harris County']