In [1]:
import pandas as pd
pd.set_option('display.max_columns', 85)
pd.set_option('display.max_rows', 85)

In [2]:
df = pd.read_csv('friends.csv')

In [3]:
df.shape

(13, 5)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   S.No.   13 non-null     int64
 1   Name    13 non-null     object
 2   Age     13 non-null     int64
 3   City    13 non-null     object
 4   Email   13 non-null     object
dtypes: int64(2), object(3)
memory usage: 648.0+ bytes

In [5]:
df.head()

   S.No.       Name  Age City           Email
0      1   Abhishek   40   SY  ak13@gmail.com
1      2  Abhishek1   41   AT   ak1@gmail.com
2      3    Saurabh   42   SY  sk29@gmail.com
3      4      Sando   44   NO  sd18@gmail.com
4      5     Ashish   42   DL  as12@gmail.com

In [6]:
df.head(7)

   S.No.       Name  Age City           Email
0      1   Abhishek   40   SY  ak13@gmail.com
1      2  Abhishek1   41   AT   ak1@gmail.com
2      3    Saurabh   42   SY  sk29@gmail.com
3      4      Sando   44   NO  sd18@gmail.com
4      5     Ashish   42   DL  as12@gmail.com
5      6     Faheem   41   GR  fs25@gmail.com
6      7     Anurag   42   NO  ak04@gmail.com

In [7]:
df.tail()

    S.No.    Name  Age City           Email
8       9   Anand   42   DB  ak05@gmail.com
9      10    Deek   40   NJ  dg08@gmail.com
10     11  Hitesh   40   DB  hp12@gmail.com
11     12   Roops   41   SY  rr27@gmail.com
12     13    Rash   41   DB  rp05@gmail.com

In [8]:
df.tail(7)

    S.No.     Name  Age City           Email
6       7   Anurag   42   NO  ak04@gmail.com
7       8  Pradeep   42   PN  pg16@gmail.com
8       9    Anand   42   DB  ak05@gmail.com
9      10     Deek   40   NJ  dg08@gmail.com
10     11   Hitesh   40   DB  hp12@gmail.com
11     12    Roops   41   SY  rr27@gmail.com
12     13     Rash   41   DB  rp05@gmail.com

In [9]:
dfd = pd.read_csv('friends.csv', index_col=0, squeeze=True).to_dict()
dfd

{'Name': {1: 'Abhishek',
  2: 'Abhishek1',
  3: 'Saurabh',
  4: 'Sando',
  5: 'Ashish',
  6: 'Faheem',
  7: 'Anurag',
  8: 'Pradeep',
  9: 'Anand',
  10: 'Deek',
  11: 'Hitesh',
  12: 'Roops',
  13: 'Rash'},
 'Age': {1: 40,
  2: 41,
  3: 42,
  4: 44,
  5: 42,
  6: 41,
  7: 42,
  8: 42,
  9: 42,
  10: 40,
  11: 40,
  12: 41,
  13: 41},
 'City': {1: 'SY',
  2: 'AT',
  3: 'SY',
  4: 'NO',
  5: 'DL',
  6: 'GR',
  7: 'NO',
  8: 'PN',
  9: 'DB',
  10: 'NJ',
  11: 'DB',
  12: 'SY',
  13: 'DB'},
 'Email': {1: 'ak13@gmail.com',
  2: 'ak1@gmail.com',
  3: 'sk29@gmail.com',
  4: 'sd18@gmail.com',
  5: 'as12@gmail.com',
  6: 'fs25@gmail.com',
  7: 'ak04@gmail.com',
  8: 'pg16@gmail.com',
  9: 'ak05@gmail.com',
  10: 'dg08@gmail.com',
  11: 'hp12@gmail.com',
  12: 'rr27@gmail.com',
  13: 'rp05@gmail.com'}}

In [10]:
dfnew = pd.DataFrame(dfd)
dfnew

         Name  Age City           Email
1    Abhishek   40   SY  ak13@gmail.com
2   Abhishek1   41   AT   ak1@gmail.com
3     Saurabh   42   SY  sk29@gmail.com
4       Sando   44   NO  sd18@gmail.com
5      Ashish   42   DL  as12@gmail.com
6      Faheem   41   GR  fs25@gmail.com
7      Anurag   42   NO  ak04@gmail.com
8     Pradeep   42   PN  pg16@gmail.com
9       Anand   42   DB  ak05@gmail.com
10       Deek   40   NJ  dg08@gmail.com
11     Hitesh   40   DB  hp12@gmail.com
12      Roops   41   SY  rr27@gmail.com
13       Rash   41   DB  rp05@gmail.com

In [11]:
dfnew['Email']

1     ak13@gmail.com
2      ak1@gmail.com
3     sk29@gmail.com
4     sd18@gmail.com
5     as12@gmail.com
6     fs25@gmail.com
7     ak04@gmail.com
8     pg16@gmail.com
9     ak05@gmail.com
10    dg08@gmail.com
11    hp12@gmail.com
12    rr27@gmail.com
13    rp05@gmail.com
Name: Email, dtype: object

In [12]:
type(dfnew['Email'])

pandas.core.series.Series

In [13]:
dfnew.Email

1     ak13@gmail.com
2      ak1@gmail.com
3     sk29@gmail.com
4     sd18@gmail.com
5     as12@gmail.com
6     fs25@gmail.com
7     ak04@gmail.com
8     pg16@gmail.com
9     ak05@gmail.com
10    dg08@gmail.com
11    hp12@gmail.com
12    rr27@gmail.com
13    rp05@gmail.com
Name: Email, dtype: object

In [14]:
dfnew[['Name','Email']]

         Name           Email
1    Abhishek  ak13@gmail.com
2   Abhishek1   ak1@gmail.com
3     Saurabh  sk29@gmail.com
4       Sando  sd18@gmail.com
5      Ashish  as12@gmail.com
6      Faheem  fs25@gmail.com
7      Anurag  ak04@gmail.com
8     Pradeep  pg16@gmail.com
9       Anand  ak05@gmail.com
10       Deek  dg08@gmail.com
11     Hitesh  hp12@gmail.com
12      Roops  rr27@gmail.com
13       Rash  rp05@gmail.com

In [15]:
dfnew.columns

Index(['Name', 'Age', 'City', 'Email'], dtype='object')

In [16]:
dfnew.iloc[0]

Name           Abhishek
Age                  40
City                 SY
Email    ak13@gmail.com
Name: 1, dtype: object

In [17]:
dfnew.iloc[[0, 2]]

       Name  Age City           Email
1  Abhishek   40   SY  ak13@gmail.com
3   Saurabh   42   SY  sk29@gmail.com

In [18]:
dfnew.iloc[[0, 2], 2]

1    SY
3    SY
Name: City, dtype: object

In [19]:
dfnew.loc[1]

Name           Abhishek
Age                  40
City                 SY
Email    ak13@gmail.com
Name: 1, dtype: object

In [20]:
dfnew.loc[[1,5]]

       Name  Age City           Email
1  Abhishek   40   SY  ak13@gmail.com
5    Ashish   42   DL  as12@gmail.com

In [21]:
dfnew.loc[[1,5], 'Email']

1    ak13@gmail.com
5    as12@gmail.com
Name: Email, dtype: object

In [22]:
dfnew.loc[[1,5], ['Name','Email']]

       Name           Email
1  Abhishek  ak13@gmail.com
5    Ashish  as12@gmail.com

In [23]:
dfnew.shape

(13, 4)

In [24]:
dfnew['Email']

1     ak13@gmail.com
2      ak1@gmail.com
3     sk29@gmail.com
4     sd18@gmail.com
5     as12@gmail.com
6     fs25@gmail.com
7     ak04@gmail.com
8     pg16@gmail.com
9     ak05@gmail.com
10    dg08@gmail.com
11    hp12@gmail.com
12    rr27@gmail.com
13    rp05@gmail.com
Name: Email, dtype: object

In [25]:
dfnew['City'].value_counts()

DB    3
SY    3
NO    2
PN    1
AT    1
DL    1
GR    1
NJ    1
Name: City, dtype: int64

In [26]:
dfnew.loc[[1, 2, 3, 11],'City']

1     SY
2     AT
3     SY
11    DB
Name: City, dtype: object

In [27]:
dfnew.loc[3:11,'City']

3     SY
4     NO
5     DL
6     GR
7     NO
8     PN
9     DB
10    NJ
11    DB
Name: City, dtype: object

In [28]:
dfnew.loc[3:11,'Age':'Email']

    Age City           Email
3    42   SY  sk29@gmail.com
4    44   NO  sd18@gmail.com
5    42   DL  as12@gmail.com
6    41   GR  fs25@gmail.com
7    42   NO  ak04@gmail.com
8    42   PN  pg16@gmail.com
9    42   DB  ak05@gmail.com
10   40   NJ  dg08@gmail.com
11   40   DB  hp12@gmail.com