In [1]:
import pandas as pd

In [1]:
sports = {'Archery': 'Bhutan',
          'Golf': 'Scotland',
          'Sumo': 'Japan',
          'Taekwondo': 'South Korea'}
s = pd.Series(sports)
s

NameError: name 'pd' is not defined

In [3]:
s.iloc[3]

'South Korea'

In [4]:
s.loc['Golf']

'Scotland'

In [5]:
s[3]

'South Korea'

In [6]:
s['Golf']

'Scotland'

In [7]:
sports = {99: 'Bhutan',
          100: 'Scotland',
          101: 'Japan',
          102: 'South Korea'}
s = pd.Series(sports)
s

99          Bhutan
100       Scotland
101          Japan
102    South Korea
dtype: object

In [8]:
# s[0] - will not work since the index itself is numeric and we do not have a index of 0, but 99 will work. 
s[99]

'Bhutan'

In [9]:
s = pd.Series([100.00, 120.00, 101.00, 3.00])
s

0    100.0
1    120.0
2    101.0
3      3.0
dtype: float64

In [10]:
total = 0
for item in s:
    total+=item
print(total)

324.0

In [11]:
import numpy as np
total = np.sum(s)
print(total)

324.0

In [12]:
s = pd.Series(np.random.randint(0,1000,10000))
s.head()

0    278
1    595
2     22
3    507
4    741
dtype: int64

In [13]:
len(s)

10000

In [14]:
%%timeit -n 100
summary = 0
for item in s:
    summary+=item

1.13 ms ± 138 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [15]:
%%timeit -n 100
summary = np.sum(s)

76.4 µs ± 12.5 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [16]:
s+=2 #adds two to each item in s using broadcasting
s.head()

0    280
1    597
2     24
3    509
4    743
dtype: int64

In [17]:
for label, value in s.iteritems():
    s._set_value(label, value+2)
s.head()

0    282
1    599
2     26
3    511
4    745
dtype: int64

In [18]:
%%timeit -n 10
s = pd.Series(np.random.randint(0,1000,10000))
for label, value in s.iteritems():
    s.loc[label]= value+2

547 ms ± 8.96 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [19]:
%%timeit -n 10
s = pd.Series(np.random.randint(0,1000,10000))
s+=2

356 µs ± 98 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [20]:
s = pd.Series([1, 2, 3])
s.loc['Animal'] = 'Bears'
s

0             1
1             2
2             3
Animal    Bears
dtype: object

In [21]:
original_sports = pd.Series({'Archery': 'Bhutan',
                             'Golf': 'Scotland',
                             'Sumo': 'Japan',
                             'Taekwondo': 'South Korea'})
cricket_loving_countries = pd.Series(['Australia',
                                      'Barbados',
                                      'India',
                                      'England'], 
                                   index=['Cricket',
                                          'Cricket',
                                          'Cricket',
                                          'Cricket'])
all_countries = original_sports.append(cricket_loving_countries)

In [22]:
original_sports

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

In [23]:
cricket_loving_countries

Cricket    Australia
Cricket     Barbados
Cricket        India
Cricket      England
dtype: object

In [24]:
all_countries

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
Cricket        Australia
Cricket         Barbados
Cricket            India
Cricket          England
dtype: object

In [25]:
all_countries.loc['Cricket']

Cricket    Australia
Cricket     Barbados
Cricket        India
Cricket      England
dtype: object