In [1]:
import pandas as pd
pd.options.display.max_rows = 100
pd.options.display.max_columns = 100

In [2]:
# Read a CSV file into a dataframe
df = pd.read_csv('data/friends.csv')
df

    S.No.       Name  Age City           Email  CitiesLivedInPast
0       1   Abhishek   41   SY  ak13@gmail.com          LKO;GR;NO
1       2  Abhishek1   41   AT   ak1@gmail.com            LKO;CHN
2       3    Saurabh   42   SY  sk29@gmail.com     LKO;CHN;CAL;NO
3       4      Sando   44   NO  sd18@gmail.com  LKO;CHN;CAL;NO;GR
4       5     Ashish   42   DL  as12@gmail.com                LKO
5       6     Faheem   41   GR  fs25@gmail.com      LKO;BAN;NO;DL
6       7     Anurag   42   NO  ak04@gmail.com      LKO;BUB;GR;NO
7       8    Pradeep   42   PN  pg16@gmail.com      LKO;CHN;GR;PN
8       9      Anand   42   DB  ak05@gmail.com                HYD
9      10       Deek   40   NJ  dg08@gmail.com             NO;CNB
10     11     Hitesh   40   DB  hp12@gmail.com                NaN
11     12      Roops   41   SY  rr27@gmail.com         LKO;CNB;NO
12     13       Rash   41   DB  rp05@gmail.com                NaN
13     14       Sean   33   SY  sk10@gmail.com                NaN
14     15     Andrew   33   SY  ap21@gmail.com                NaN
15     16    Ishanvi   10   SY  ik09@gmail.com                 NO
16     17      Arjun    5   SY  ak20@gmail.com                NaN
17     18    GrandPa   78   SY  gp00@gmail.com                NaN
18     19    Shivani   41   SY  ss00@gmail.com             LKO;NO

In [3]:

filter1 = df['Age'] == 40 # we get back a series object
print(type(filter1))
filter1

<class 'pandas.core.series.Series'>

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9      True
10     True
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
Name: Age, dtype: bool

In [4]:
df[filter1] # dataframe with the filter will return a dataframe with items for which filter is true

    S.No.    Name  Age City           Email CitiesLivedInPast
9      10    Deek   40   NJ  dg08@gmail.com            NO;CNB
10     11  Hitesh   40   DB  hp12@gmail.com               NaN

In [5]:
df[df['Age'] == 41] # can also be written like this.

    S.No.       Name  Age City           Email CitiesLivedInPast
0       1   Abhishek   41   SY  ak13@gmail.com         LKO;GR;NO
1       2  Abhishek1   41   AT   ak1@gmail.com           LKO;CHN
5       6     Faheem   41   GR  fs25@gmail.com     LKO;BAN;NO;DL
11     12      Roops   41   SY  rr27@gmail.com        LKO;CNB;NO
12     13       Rash   41   DB  rp05@gmail.com               NaN
18     19    Shivani   41   SY  ss00@gmail.com            LKO;NO

In [6]:
df.loc[filter1] # same result

    S.No.    Name  Age City           Email CitiesLivedInPast
9      10    Deek   40   NJ  dg08@gmail.com            NO;CNB
10     11  Hitesh   40   DB  hp12@gmail.com               NaN

In [7]:
df.loc[filter1,'Email']

9     dg08@gmail.com
10    hp12@gmail.com
Name: Email, dtype: object

In [16]:
df.loc[filter1,['Email','City']] # but this can be used if we want the result to have few columns

df.loc[(df['Age'] == 40),['Email','City']]

             Email City
9   dg08@gmail.com   NJ
10  hp12@gmail.com   DB

In [9]:
filter2 = ((df['Age'] > 41) & (df['City'] == 'DB')) # AND
df.loc[filter2]

   S.No.   Name  Age City           Email CitiesLivedInPast
8      9  Anand   42   DB  ak05@gmail.com               HYD

In [10]:
filter3 = ((df['Age'] > 41) | (df['City'] == 'DB')) # OR
df.loc[filter3]

    S.No.     Name  Age City           Email  CitiesLivedInPast
2       3  Saurabh   42   SY  sk29@gmail.com     LKO;CHN;CAL;NO
3       4    Sando   44   NO  sd18@gmail.com  LKO;CHN;CAL;NO;GR
4       5   Ashish   42   DL  as12@gmail.com                LKO
6       7   Anurag   42   NO  ak04@gmail.com      LKO;BUB;GR;NO
7       8  Pradeep   42   PN  pg16@gmail.com      LKO;CHN;GR;PN
8       9    Anand   42   DB  ak05@gmail.com                HYD
10     11   Hitesh   40   DB  hp12@gmail.com                NaN
12     13     Rash   41   DB  rp05@gmail.com                NaN
17     18  GrandPa   78   SY  gp00@gmail.com                NaN

In [11]:
df.loc[~filter2] # ~ results in the opposite of the filter

    S.No.       Name  Age City           Email  CitiesLivedInPast
0       1   Abhishek   41   SY  ak13@gmail.com          LKO;GR;NO
1       2  Abhishek1   41   AT   ak1@gmail.com            LKO;CHN
2       3    Saurabh   42   SY  sk29@gmail.com     LKO;CHN;CAL;NO
3       4      Sando   44   NO  sd18@gmail.com  LKO;CHN;CAL;NO;GR
4       5     Ashish   42   DL  as12@gmail.com                LKO
5       6     Faheem   41   GR  fs25@gmail.com      LKO;BAN;NO;DL
6       7     Anurag   42   NO  ak04@gmail.com      LKO;BUB;GR;NO
7       8    Pradeep   42   PN  pg16@gmail.com      LKO;CHN;GR;PN
9      10       Deek   40   NJ  dg08@gmail.com             NO;CNB
10     11     Hitesh   40   DB  hp12@gmail.com                NaN
11     12      Roops   41   SY  rr27@gmail.com         LKO;CNB;NO
12     13       Rash   41   DB  rp05@gmail.com                NaN
13     14       Sean   33   SY  sk10@gmail.com                NaN
14     15     Andrew   33   SY  ap21@gmail.com                NaN
15     16    Ishanvi   10   SY  ik09@gmail.com                 NO
16     17      Arjun    5   SY  ak20@gmail.com                NaN
17     18    GrandPa   78   SY  gp00@gmail.com                NaN
18     19    Shivani   41   SY  ss00@gmail.com             LKO;NO

In [12]:
df.loc[~filter3] # ~ results in the opposite of the filter

    S.No.       Name  Age City           Email CitiesLivedInPast
0       1   Abhishek   41   SY  ak13@gmail.com         LKO;GR;NO
1       2  Abhishek1   41   AT   ak1@gmail.com           LKO;CHN
5       6     Faheem   41   GR  fs25@gmail.com     LKO;BAN;NO;DL
9      10       Deek   40   NJ  dg08@gmail.com            NO;CNB
11     12      Roops   41   SY  rr27@gmail.com        LKO;CNB;NO
13     14       Sean   33   SY  sk10@gmail.com               NaN
14     15     Andrew   33   SY  ap21@gmail.com               NaN
15     16    Ishanvi   10   SY  ik09@gmail.com                NO
16     17      Arjun    5   SY  ak20@gmail.com               NaN
18     19    Shivani   41   SY  ss00@gmail.com            LKO;NO

In [13]:
cities = ['SY','DB','NO']
filter4 = (df['City'].isin(cities)) # Create filter using isin which is equivalent to IN clause of SQL
df.loc[filter4]

    S.No.      Name  Age City           Email  CitiesLivedInPast
0       1  Abhishek   41   SY  ak13@gmail.com          LKO;GR;NO
2       3   Saurabh   42   SY  sk29@gmail.com     LKO;CHN;CAL;NO
3       4     Sando   44   NO  sd18@gmail.com  LKO;CHN;CAL;NO;GR
6       7    Anurag   42   NO  ak04@gmail.com      LKO;BUB;GR;NO
8       9     Anand   42   DB  ak05@gmail.com                HYD
10     11    Hitesh   40   DB  hp12@gmail.com                NaN
11     12     Roops   41   SY  rr27@gmail.com         LKO;CNB;NO
12     13      Rash   41   DB  rp05@gmail.com                NaN
13     14      Sean   33   SY  sk10@gmail.com                NaN
14     15    Andrew   33   SY  ap21@gmail.com                NaN
15     16   Ishanvi   10   SY  ik09@gmail.com                 NO
16     17     Arjun    5   SY  ak20@gmail.com                NaN
17     18   GrandPa   78   SY  gp00@gmail.com                NaN
18     19   Shivani   41   SY  ss00@gmail.com             LKO;NO

In [14]:
citiesInPastFilter = df['CitiesLivedInPast'].str.contains('LKO', na= False)
df.loc[citiesInPastFilter]

    S.No.       Name  Age City           Email  CitiesLivedInPast
0       1   Abhishek   41   SY  ak13@gmail.com          LKO;GR;NO
1       2  Abhishek1   41   AT   ak1@gmail.com            LKO;CHN
2       3    Saurabh   42   SY  sk29@gmail.com     LKO;CHN;CAL;NO
3       4      Sando   44   NO  sd18@gmail.com  LKO;CHN;CAL;NO;GR
4       5     Ashish   42   DL  as12@gmail.com                LKO
5       6     Faheem   41   GR  fs25@gmail.com      LKO;BAN;NO;DL
6       7     Anurag   42   NO  ak04@gmail.com      LKO;BUB;GR;NO
7       8    Pradeep   42   PN  pg16@gmail.com      LKO;CHN;GR;PN
11     12      Roops   41   SY  rr27@gmail.com         LKO;CNB;NO
18     19    Shivani   41   SY  ss00@gmail.com             LKO;NO

In [15]:
citiesInPastFilter = df['CitiesLivedInPast'].str.contains('LKO', na= True) # na is for NaN values
df.loc[citiesInPastFilter]

    S.No.       Name  Age City           Email  CitiesLivedInPast
0       1   Abhishek   41   SY  ak13@gmail.com          LKO;GR;NO
1       2  Abhishek1   41   AT   ak1@gmail.com            LKO;CHN
2       3    Saurabh   42   SY  sk29@gmail.com     LKO;CHN;CAL;NO
3       4      Sando   44   NO  sd18@gmail.com  LKO;CHN;CAL;NO;GR
4       5     Ashish   42   DL  as12@gmail.com                LKO
5       6     Faheem   41   GR  fs25@gmail.com      LKO;BAN;NO;DL
6       7     Anurag   42   NO  ak04@gmail.com      LKO;BUB;GR;NO
7       8    Pradeep   42   PN  pg16@gmail.com      LKO;CHN;GR;PN
10     11     Hitesh   40   DB  hp12@gmail.com                NaN
11     12      Roops   41   SY  rr27@gmail.com         LKO;CNB;NO
12     13       Rash   41   DB  rp05@gmail.com                NaN
13     14       Sean   33   SY  sk10@gmail.com                NaN
14     15     Andrew   33   SY  ap21@gmail.com                NaN
16     17      Arjun    5   SY  ak20@gmail.com                NaN
17     18    GrandPa   78   SY  gp00@gmail.com                NaN
18     19    Shivani   41   SY  ss00@gmail.com             LKO;NO